body {
    font-family: 'Raleway',Helvetica,Arial,sans-serif;
    background-color: none;/*rgba(0, 0, 0, 0.9);*/
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 1px solid white;
    margin-bottom: 40px;
}
h1 {
    color: black;
    font-size: 70px;
    font-weight: 400;
    font-family: 'Raleway';
    margin: -10px 0;
}
h3 {
    color: black;
    font-size: 25px;
    font-weight: 100;
    padding-bottom: 20px;
}
.content {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: none; /*rgba(0, 0, 0, 0.5);*/
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border-radius: 100%;
    border: 0px solid white;
    color: black;
    margin: 12px;
    display: inline-block;
    list-style: none;
    width: 30px;
    height: 30px;
}
li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none; 
}
a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}
a:hover {
    color: white;
}

.description {
    display: none;
}
